.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 120px;
}
.reservation__title {
  margin: 0 auto;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  width: fit-content; /*allowed it to center*/
}
.reservation__form {
  /*define width and margins in reservation__form per brief*/
  /*can only specify these properties for child elements in BEM
  putting width and margin here puts it to left of page, 
  removing centers container on page*/
  width: 385px;
  margin: 0 auto; /*centers bloxk*/
}
